body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header-wrapper {
  padding: 10px 20px;
  background-color: sandybrown;
  display: flex;
  justify-content: space-between;
}
.heading {
  color: aqua;
  margin: 0;
}
.search-form {
  position: relative;
}

.search-form input {
  padding: 10px 25px;
  border-radius: 3px;
  border: .5px solid lightgray;
}

.gif-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 30px auto;
  width: 80%;
  grid-gap: 25px;
  color: gray;
}
.gif-img {
  width: 100%;
  height: 40vh;
}
.icon {
  position: absolute;
  left: 3%;
  color: gray;
  top: 30%;
  /* font-size: 14px; */
}
.gif-title {
  text-align: center;
}

.footer-wrapper {
  background-color: orange;
  padding: 10px;
  /* height: 30vh; */
}
.footer-wrapper p {
  text-align: center;
  font-size: 12px;
  margin: 0;
}